 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    header{
        padding: 5px 0;
    }
    .menu ul li a{
        padding-right: 0 !important;
        margin-top: 10px;
        text-align: right;

    }
    
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    header{
        padding: 20px 0;
    }

    .menu ul li a{
        padding-right: 0 !important;
        margin-top: 15px;
        text-align: right;

    }
    
    
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    .menu ul li a{
        padding-right: 0 !important;
        margin-top: 20px;
        text-align: right;
    }
    
    
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) and (max-width: 1399.98px) { 
    
  }

 /* Extra Extra large devices (Extra large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }