@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Rubik&family=Ubuntu:wght@300&display=swap');
/* common css start  */
body{}

/* common css end  */

/* header start  */
header{
    background-color: #FCDB00;
    padding: 20px 0;
}

.menu ul li a{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #0f0f0f;
    padding: 0 50px !important;
}

.menu ul li a:hover{
    color: #ffffff !important;
}
/* header end  */

/* slider section  start*/
.slider{
    background-color: #FCDB00;
    padding-bottom: 100px;
}

.s_text{
    margin-top: 50px;
}

.s_text h1{
    margin: 0;
}

.s_text h2{
    margin: 20px 0;
    color: #313538;
}

.s_text p{
    color: #313538;
    margin-bottom: 30px;
    
}

.s_text ul li img{
    width: 42px;
    height: 42px;
    margin-right: 20px;
    transition: all ease .3s;

}

.s_text ul li img:hover{
    transform: scale(.8);

}

.s_img{
    text-align: center;
}

.cus_carousel {
    bottom: -90px;

}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/* slider section  end*/

/*feature section start*/
.feature{
    padding: 100px 0;
  }
  .c_h1{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight:700 ;
  }
  .c_p{
    font-size: 20px;
  }
  .f_items{
    margin-top: 70px;
  }
  .fe_text h2{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
  }
  .fe_text p{
    color: #999999;
  }
  /*feature section end*/

  /* contact us section  */
  .contact{
    background-color: #0f0f0f;
    padding: 100px 0;

  }

  .con_h1{
    color: #FCDB00;
  }
  .con_p {
    padding: 10px 365px;
    color:#898989 ;
}

.c_form{
    width: 40%;
    border-radius: 6px;
}
.c_form:focus{
    outline: none;
}

.c_btn{
    width: 12%;
    margin-left: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.c_ul{
    margin-top: 80px;

}
.c_li{
    color: #fffefe;
    margin-right: 30px !important;
}

.c_li:hover{
    color: #FCDB00;
}


